<h1 id="tableLabel">Loan Management System</h1>
<app-profile></app-profile>
<app-profileid></app-profileid>
<app-getallpayments></app-getallpayments>
<app-getpaymentsbycustid></app-getpaymentsbycustid>
<app-getpaymentsbyid></app-getpaymentsbyid>
<app-getpaymentsbypid></app-getpaymentsbypid>
<app-allloantypes></app-allloantypes>
<app-loantypename></app-loantypename>
<app-allloans></app-allloans>
<app-loanbycustid></app-loanbycustid>
<app-loanbylid></app-loanbylid>
<app-allapplications></app-allapplications>
<app-allapplicationsbycustid></app-allapplicationsbycustid>
<app-allapplicationsbyappid></app-allapplicationsbyappid>
<app-calculateemi></app-calculateemi>
<app-bankdetails></app-bankdetails>
<app-bankdetailsbyid></app-bankdetailsbyid>
