<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>
  
    <div class="form-row mb-4">
     
        <div class="col">
            <input type="text" formControlName="custname" id="defaultRegisterFormLastName" class="form-control" placeholder="Customer Name">
        </div>
        <div class="col">
            <input type="text" formControlName="pan" id="defaultRegisterFormFirstName" class="form-control" placeholder="PAN Number">
            
        </div>
        <div class="col">
            <input type="text" formControlName="phoneno" id="defaultRegisterFormFirstName" class="form-control" placeholder="Phone Number">
            
        </div>
        <div class="col">
            <input type="text" formControlName="custAddress" id="defaultRegisterFormFirstName" class="form-control" placeholder="Customer Address">
            
        </div>
    </div>
  
    <input type="email" formControlName="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <button class="btn btn-info my-4 btn-block" (click)="onSubmit()">Sign up</button>
  
    <hr>
  
  </form>